<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <h1>Client List</h1>
    <table>
        <tr>
            <th>Document ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for (let i=0; i < allClients.length; i++) {%>
            <tr>
                <td>
                    <%= allClients[i].values.document_id %>
                </td>
                <td>
                    <%= allClients[i].values.name %>
                </td>
                <td>
                    <%= allClients[i].values.last_name %>
                </td>
                <td><a href="/clients/edit/<%=allClients[i].id%>">Edit</a></td>
                <td><a href="/clients/delete/<%=allClients[i].id%>">Delete</a></td>
            </tr>
            <% } %>

    </table>

    <a href="/clients/create"><button>Create New Client</button></a>

</body>

</html>